<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.byteshaft.waterassist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DrainAssistActivity"/>

        <activity android:name=".BuildingAssistActivity"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".HomeAssistActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".WaterAssistActivity" android:windowSoftInputMode="adjustPan" />
        <activity android:name=".PlumberActivity" android:windowSoftInputMode="adjustPan" />

        <activity android:name=".drainassist.EmergencyUnblockActivity"/>
        <activity android:name=".drainassist.DrainageRepairsActivity"/>
        <activity android:name=".drainassist.DrainageSurveyActivity"/>
        <activity android:name=".drainassist.MaintenanceActivity"/>
        <activity android:name=".drainassist.NewInstallationActivity"/>
        <activity android:name=".drainassist.SepticOrTreatmentTankActivity"/>
    </application>

</manifest>